# Source DB
SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=5435
SOURCE_DB_NAME=source_db
SOURCE_DB_USER=your_user
SOURCE_DB_PASS=your_password

# Warehouse DB
WAREHOUSE_DB_HOST=localhost
WAREHOUSE_DB_PORT=5434
WAREHOUSE_DB_NAME=warehouse
WAREHOUSE_DB_USER=your_user
WAREHOUSE_DB_PASS=your_password

# Docker internal (used by Airflow containers)
DOCKER_SOURCE_DB_HOST=source_db
DOCKER_SOURCE_DB_PORT=5432
DOCKER_WH_DB_HOST=warehouse_db
DOCKER_WH_DB_PORT=5432

# Airflow metadata DB
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASS=airflow
AIRFLOW_DB_NAME=airflow

# Marketing API
MARKETING_API_URL=https://your-api-url.com
MARKETING_API_TOKEN=your_token_here